body {
  margin: 0;
}

.text-3xl {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
}

.font-bold {
  font-weight: 700;
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity)) /* #ef4444 */;
}
